/SomeSecretProject/SomeSecretProject/bin/Debug/SomeSecretProject.exe.config
/SomeSecretProject/SomeSecretProject/bin/Debug/SomeSecretProject.vshost.exe
/SomeSecretProject/SomeSecretProject/bin/Debug/SomeSecretProject.vshost.exe.config
/SomeSecretProject/SomeSecretProject/bin/Debug/SomeSecretProject.vshost.exe.manifest
/SomeSecretProject/SomeSecretProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SomeSecretProject/SomeSecretProject/obj/Debug/SomeSecretProject.csproj.FileListAbsolute.txt
/SomeSecretProject/SomeSecretProject/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SomeSecretProject/SomeSecretProject/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SomeSecretProject/SomeSecretProject/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
